<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li style="padding-left:3em"></li>
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <!-- <li style="padding-left:3em"></li> -->

            
            <li style="padding-right:55em"></li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">CONTACT US</a>
            </li>
            <li style="padding-left:1em"></li>
            <li class="nav-item">
                <a class="nav-link" href="/homemain">LOGOUT</a>
            </li>

        </ul>
        </div>
        </nav>

<div class="row">
    <div class="col-md-4">
        <br>
        <img src="assets/Images/logo.png" alt="logo" width="150" height="120" />

    </div>
    <div class="col-md-8">
        <h1>MINISTRY OF WOMEN & CHILD DEVELOPMENT
        </h1>
    </div>
</div>
<br>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li style="padding-left:30em"></li>
            <li class="nav-ite">
                <a class="nav-link" routerLink="/aboutus" routerLinkActive="active" >ABOUT US</a>
            </li>
            <li style="padding-left:3em"></li>
            <li class="nav-item active">

                <a class="nav-link" routerLink="/crudngo" routerLinkActive="active">NGO  <span class="sr-only"></span></a>

            </li>

            <li style="padding-left:3em"></li>
            
                <li class="nav-item active">

                    <a class="nav-link" routerLink="/crudtrainee" routerLinkActive="active">TRAINEES   <span class="sr-only"></span></a>

                </li>
         
                
               
            <!-- <li style="padding-left:3em"></li>
             <li class="nav-item">
                <a class="nav-link" routerLink="/ngos">NGOS </a>
            </li> 
            <li style="padding-left:3em"></li>
            <li class="nav-item">
                <a class="nav-link"routerLink="/admin" routerLinkActive="active">ADMIN</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"routerLink="/status" routerLinkActive="active">FAQ</a>
            </li> -->

        </ul>



    </div>
</nav>
<br>
<br>

<!-- <app-signup></app-signup> -->
<!-- 
<router-outlet></router-outlet> -->
<!-- <button class="btn btn-primary" (click)="gotoNgos()">Home</button>-->

<!-- <button class="btn btn-primary" (click)="gotoHome()">Home</button> -->
