<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li style="padding-left:3em"></li>

            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li style="padding-right:65em"></li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">CONTACT US</a>
            </li>
            <li style="padding-left:1em"></li>
            <li class="nav-item">
                <a class="nav-link" href="/homemain">LOGOUT</a>
            </li>
        </ul>



    </div>
</nav>


<div class="row">
    <div class="col-md-4">
        <br>
        <img src="assets/Images/logo.png" alt="logo" width="150" height="120" />

    </div>
    <div class="col-md-8">
        <h1>Non Governmental Organizations (NGOs)</h1>
    </div>
</div>
<br>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li style="padding-left:23em"></li>
            <li class="nav-ite">
                <a class="nav-link" routerLink="/criteria" routerLinkActive="active" >CRITERIA</a>
            </li>
            <li style="padding-left:3em"></li>
            <li class="nav-item active">

                <a class="nav-link" routerLink="/funding-norms" routerLinkActive="active">FUNDING NORMS  <span class="sr-only"></span></a>

            </li>

            <li style="padding-left:3em"></li>
            <li class="nav-item active">

                <a class="nav-link" routerLink="/organizations" routerLinkActive="active">ORGANIZATIONS<span class="sr-only"></span></a>

            </li>
            
            <li style="padding-left:3em"></li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ngoregistration" routerLinkActive="active">REGISTER</a>
            </li>

            <li style="padding-left:3em"></li>
            <li class="nav-item">
                <a class="nav-link"routerLink="/coursedetails" routerLinkActive="active"> REGISTER COURSE</a>
            </li>
            <!-- <li style="padding-left:3em"></li>
            <li class="nav-item">
                <a class="nav-link"routerLink="/status" routerLinkActive="active">STATUS</a>
            </li> -->


            

        </ul>



    </div>
</nav>

<!-- <router-outlet></router-outlet> -->


