/* .col-md-4{
    padding-left: 1em;
}
  */

.row{
    border: solid black;
    border-radius: 40px;
    height:150px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2em;

}
h3{
  margin-top: 1em;
  padding-left:-9em;
 
}
.navbar navbar-expand-lg navbar-light bg-light{
    border: solid black;
}
.col-md-4{
    padding-left: 2em; 
    width: 20%;
    align-items: center;
    justify-content: center;
  
   /* padding-bottom: 2em; */
   display:flex;
}
.col-md-8{
   
    width:80%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
     
  }
  .navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center ;

  }